<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compiledbox.nativeguard">

    <!-- Needed for running a foreground VpnService -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name="com.compiledbox.nativeguard.WireGuardVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
